<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
<extension
         point="org.eclipse.epsilon.common.dt.tool">
      <tool
            class="org.eclipse.emf.ecore.util.EcoreUtil$EqualityHelper"
            defaultName="equalityhelper">
      </tool>
      <tool
            class="org.apache.commons.lang3.RandomStringUtils"
            defaultName="randomstrings">
      </tool>
   </extension>
</plugin>
